*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #b8aaaa;
}
#prestaServicos1 {
    display: none;
}
#homePg{
    color: #4d0e4d;
    font-size: 0.5cm;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
#homePg:hover{
background-color: rgb(0, 255, 221);
}
#tituloIntr {
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0;
}
#paragrafoIntr{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    width: 55%;
    float: left;
}
aside{
    background-color: rgb(191, 235, 220);
    width: 45%;
    float: left;    
}
body{
    background-image: url();
}
footer{
    clear: both;
    color: maroon;
}

@media (max-width:600px) {
   header, aside, main, footer {width: 100%; }
    .h1  {width: 100%;}
    #paragrafoIntr, #tituloIntr, #homePg {width: 100%;}
}

#img-preview{
   max-width: 200px;
    height: 250px;
}
#parFoto{
    color: rgb(90, 5, 45);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#password{
    text-align: end;
}
.checkTerm{
    color: rgb(182, 31, 31);
    font-size: 0,5cm;
}
.OBS input{
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}
.OBS label {
    color: red;
    text-align: left;
}
@media (max-width: 576px) { 
    .OBS input{
        width: 200px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    
    }
}
@media (max-width: 768px) {  }

@media (max-width: 992px) {  }

@media (max-width: 1200px) {  }

@media (max-width: 1400px) {  }
